body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.row.align-items-center {
  display: flex;
}

img.logo {
  width: 15%;
} 

img{
  width: 200px;
}

.col-12.col-sm-6.col-lg-3{
  flex-direction: row;
}

