<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo </title>
</head>
<% -include('./partials/header') %>
<body>
    <h1> Catalogo de zapatos:</h1>
    <ul>
        <%
        for(let i=0;i<catalogoZapatos.length;i++){ %>
            <li> 
                <img src='/<%= catalogoZapatos[i].imagen %>'>
                <h3> Modelo: <%= catalogoZapatos[i].modelo%> </h3>
                <a href="details.ejs"> Ver más</a> 
            </li>
        <%}%>
    </ul>
</body>
</html>