<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<h2 class="col-12">
			<form action = '/' method="GET">
				<p> Email:<input type="email" name="email" placeholder="email" value=""> </p>
				<p> Password:<input type="password" name="password" placeholder="password" value=""> </p>
				<label><input type="checkbox" name="recordame" value=""> Recordarme </label>
				<button type="submit" class="ingresar"> Ingresar<i class="fas fa-search"></i></button>
			</form>	
		    </h2>
            <%- include('./partials/footer')%>
</body>

