<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12 container_register"> <form action="/users/profile" method="GET">
				<ul>
					<li>
						<p> Imagen:<input type="file" name="imagen" placeholder="imagen" value=""></p>
					</li>
					<li>
						<p> Nombre:<input type="name" name="nombre" value=""></p>
					</li>
					<li>
						<p> Descripción:<input type="text" name="text" value=""></p>
					</li>
					<li>
						<p>Fecha de carga: <input type="date" name="date" value=""></p>
					</li>
					<li>
						<button type="submit" class="agregarproducto">Agregar producto<i class="fas fa-search"></i></button>
					</li>
				</ul>
			</form>
			</h2>
		</div>
	</div>
    <%- include('./partials/footer')%>
</body>

</html>