<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/profile" method="GET">
					<ul>
						<li>
							<p> User:<input type="text" name="user" placeholder="user" value=""></p>
						</li>
						<li>
							<p> Email:<input type="email" name="email" value=""></p>
						</li>
						<li>
							<p> Password:<input type="password" name="password" value=""></p>
						</li>
						<li>
							<p>Date: <input type="date" name="date of birth" value=""></p>
						</li>
						<li>
							<p>Id: <input type="number" name="id" value=""></p>
						</li>
					</ul>
					<!-- <input type="text" name="foto de perfil"> PREGUNTAR-->
				</form>
			</h2>

    <%- include('./partials/footer')%>
</body>
