<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12 container_register"> 
				<!-- <form action="/users/profile-edit/<%=// user.id//%>" method="GET"> -->
				<form action="/users/profile-edit" method="post">
					<ul>
						<li>
							<p> User:<input type="text" name="user" placeholder="user" value=""></p>
						</li>
						<li>
							<p> Email:<input type="email" name="email" placeholder="mail" value=""></p>
						</li>
						<li>
							<p> Password:<input type="password" name="password" placeholder="contraseña" value=""></p>
						</li>
						<li>
							<p>Date: <input type="date" name="dateOfBirth" placeholder="fecha de nacimiento" value=""></p>
						</li>
						<li>
							<p>Id: <input type="number" name="id" placeholder="documento" value=""></p>
						</li>
						<li>
							<p>Foto de perfil: <input type="text" name="fotoDePerfil" placeholder="foto de perfil" value=""> </p>
						</li>
						<li>
							<button type="submit" class="edit">Editar<i class="fas fa-search"></i></button>
						</li>
					</ul>
				</form>
			</h2>
		</div>
	</div>
    <%- include('./partials/footer')%>
</body>
