<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/" method="GET">
					<input type="text" name="user" placeholder="user name" value="">
					<input type="email" name="email" placeholder="email" value="">
					<input type="password" name="password" placeholder="password" value="">
					<input type="date" name="fecha de nacimiento" placeholder="fecha de nacimiento" value="">
					<input type="number" name="numero de documento" placeholder="número de documento" value="">
					<!-- <input type="text" name="foto de perfil"> PREGUNTAR-->
				</form>
			</h2>


	
            <%- include('./partials/footer')%>
</body>

</html>